.bg{
    background-image: url('/data_center_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    /* padding: 4rem; */
 
}