@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
} */
.navbar{
  position: fixed; 
  top: 0;
  right: 0;
  /* left: 0; */
  z-index: 50;
}
.pricing{
  background-color: black;
  border-radius: 10px;
  color: white;
  height: 510px;
}

.pricing:hover{
  background: rgb(2, 2, 108);
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  transform: scale(1.1);
  border-radius: 10px;
  margin: 0 10px;
  transition: 0.9s;
  transform: translateY(-30px);
}
.manu-item:hover{
  color: rgb(157, 22, 77);
}
.manu-button{
  background-color: none;
  border: 1px solid rgb(157, 22, 77);
  color: rgb(157, 22, 77);
}
.manu-button:hover{
  background-color: rgb(157, 22, 77);
  color: white;
}

.subscribe-button{
  background-color: rgb(157, 22, 77);
  color: white;
  font-weight: bold;
}
.login-button{
  background-color: rgb(157, 22, 77);
  color: white;
  font-weight: bolder;
}

.google-button{
  background-color: none;
  border: 1px solid rgb(157, 22, 77);
  color: rgb(157, 22, 77);
  font-weight: bolder;
  padding: 12px 0;
}
.google-button:hover{
  background-color: rgb(157, 22, 77);
  color: white;
}


/* ....................................... */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
