@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-gray-900 dark:text-white;
}



.navbar{
  position: fixed; 
  top: 0;
  right: 0;
  /* left: 0; */
  z-index: 50;
}
.pricing{
  background-color:#FFFFFF;
  border-radius: 10px;
  color:#4F80FF;
  height: 550px;
}

.pricing:hover{
  /* background: rgb(2, 2, 108); */
  color:#4F80FF;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  border-radius: 10px;
  /* margin: 0 10px; */
  transition: 0.2s;
  /* transform: translateY(-30px); */
}

.pricingCard{
  background-color:#FFFFFF;
  color:#4F80FF;
  height: 550px;
}
.manu-item:hover{
  color: #1E40AF;
}
.manu-button{
  background-color: none;
  border: 1px solid navy;
  color: navy;
  font-weight: bold;
}
.manu-button:hover{
  background-color: navy;
  color: white;
}



.teamNameColor{
  color: #1E40AF;
}

.subscribe-button{
  background-color: navy;
  color: white;
  font-weight: bold;
}
.login-button{
  background-color: navy;
  color: white;
  font-weight: bolder;
  
}


.dragAndDrop{
  border: 1px dotted grey;
}
.site-button{
  color: white;
  padding: 6px 16px;
  font-weight: bold;
}


.new-site{
  color: white;
  padding: 13px 16px;
  font-weight: bold;
}

.builds-button{
  background-color: navy;
  color: white;
}


.bg {
  background-image: '/data_center_bg.jpg';
}
.manu-two{
  background-color: navy;
}

/* FAQ section  */

.faq{
  color: #2f1c6a;
  font-family: inherit;
}
.borderColor{
  border: 1px solid #d5dfff;
}
.textColor{
  color: #727586;
  font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.backgroundColor{
  background-color: #673de6;
}
.myBtn{
  background-color: #727586;
}
/* ................Dark Mode..................... */

.manu-buttonDark{
  background-color: none;
  border: 1px solid rgb(73,115,18);
  color: rgb(73,115,18);
  font-weight: bold;
}
.manu-buttonDark:hover{
  background-color: rgb(73,115,18);
  color: black;
}

.google-buttonDark{
  background-color: none;
  border: 1px solid white;
  color: white;
  font-weight: bolder;
  padding: 12px 0;
}
.google-buttonDark:hover{
  background-color: black;
  color: white;
}
.darkModeBackgroundColor{
  background: linear-gradient(180deg, rgba(54,83,20,1) 0%, rgba(101,163,13,1) 0%)
}
.darkModeTextColor{
  color: rgb(73,115,18);
}





