@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  @apply bg-gray-100 text-gray-900 dark:text-white ;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
} */


.navbar{
  position: fixed; 
  top: 0;
  right: 0;
  /* left: 0; */
  z-index: 50;
}
.pricing{
  background-color:#FFFFFF;
  border-radius: 10px;
  color:#4F80FF;
  height: 550px;
}

.pricing:hover{
  /* background: rgb(2, 2, 108); */
  color:#4F80FF;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  border-radius: 10px;
  /* margin: 0 10px; */
  transition: 0.2s;
  /* transform: translateY(-30px); */
}
.manu-item:hover{
  color: navy;
}
.manu-button{
  background-color: none;
  border: 1px solid navy;
  color: navy;
  font-weight: bold;
}
.manu-button:hover{
  background-color: navy;
  color: white;
}



.teamNameColor{
  color: navy;
}

.subscribe-button{
  background-color: navy;
  color: white;
  font-weight: bold;
}
.login-button{
  background-color: navy;
  color: white;
  font-weight: bolder;
  
}

.google-button{
  background-color: none;
  border: 1px solid navy;
  color: navy;
  font-weight: bolder;
  padding: 12px 0;
}
.google-button:hover{
  background-color: navy;
  color: white;
}
.dragAndDrop{
  border: 1px dotted grey;
}
.site-button{
  color: white;
  padding: 6px 16px;
  font-weight: bold;
}


.new-site{
  color: white;
  padding: 13px 16px;
  font-weight: bold;
}

.builds-button{
  background-color: navy;
  color: white;
}


.bg {
  background-image: '/data_center_bg.jpg';
}
.manu-two{
  background-color: navy;
}

/* ................Dark Mode..................... */

.manu-buttonDark{
  background-color: none;
  border: 1px solid rgb(73,115,18);
  color: rgb(73,115,18);
  font-weight: bold;
}
.manu-buttonDark:hover{
  background-color: rgb(73,115,18);
  color: black;
}

.google-buttonDark{
  background-color: none;
  border: 1px solid white;
  color: white;
  font-weight: bolder;
  padding: 12px 0;
}
.google-buttonDark:hover{
  background-color: black;
  color: white;
}

.darkModeTextColor{
  color: rgb(73,115,18);
}


/* FAQ section  */

.faq{
  color: #2f1c6a;
  font-family: inherit;
}
.borderColor{
  border: 1px solid #d5dfff;
}
.textColor{
  color: #727586;
  font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}





.table{
  background-color: #65A30D;
}
/* ................Responsive Design.................. */



@media (max-width: 576px) {
  .table thead {
    display: none;
    
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    
    /* width: 100%; */
    
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 40%;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    /* font-size: 15px; */
    /* font-weight: bold; */
    text-align: left;
  }
}

@media (min-width: 577px) and (max-width: 768px){
  .table thead {
    display: none;
    
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    
    /* width: 100%; */
    
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    /* font-size: 15px; */
    /* font-weight: bold; */
    text-align: left;
  }
}
